.app.dark {
    --bg-color: #fff;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #E8EFF5;
    --secondary-color: #2A79CC;
    --footer-bg-color: #091F3A;
    --service-bg-item: #E8EFF5;
    --text-color: #0E192E;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
