
.firmStyle {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 70%;
  margin: 60px auto auto;
}


.ImgsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  img {
    width: 30%;
  }

}
