.SendOrderBtn {
    width: 15%;
    background-color:#2A79CC;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 32px;
    border-radius: 4px;
}