.AdminPage {
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.title {
    text-transform: uppercase;
}

.content {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}